
.idea/*
.vs/*
.vscode/*

/**/x64/*
/**/x86/*
/**/Debug/*

*.pdb

*.vcxproj.filters
*.vcxproj.user

*.sln.DotSettings.user

packages/*

/**/cmake-build-*
/**/.vs
/**/out

/**/CMakeFiles/
/**/CMakeCache.txt