
.idea/*
.vs/*
.vscode/*

/**/x64/*
/**/x86/*
/**/Debug/*
/**/Release/*
/**/bin/*

*.pdb
*.cso

/**/shaders/**/*.h

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

*.sln.DotSettings.user

packages/*

/**/cmake-build-*
/**/.vs
/**/out

/**/CMakeFiles/
/**/CMakeCache.txt
/**/cmake_install.cmake